<div class="pure-u-1">
    <%= @article.title %>
    <%= @article.text %>
    <% if @article.is_beginner? %>
      <p>初心者</p>
    <% end %>
    <%= @article.github_url %>
</div>

<div class="pure-u-1">
  <p>ログ</p>
  <% if @reviews.present? %>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.user_name %></td>
      <td><%= r.text %></td>
    </tr>
  <% end %>
<% end %>
  <div class="pure-form">
    <%= form_tag('/article/create_review') do %>
      <input type="text" name="text" /><br />
      <input type="submit" value="send">
    <% end %>
  </div>
</div>
