<div class="pure-u-5-6">
  <h1>投稿一覧</h1>


  <style>
    /* Customization to limit height of the menu */
    .custom-restricted {
        height: 88px;
        width: 90%;
        border: 1px solid gray;
        border-radius: 4px;
    }
  </style>
  <% if @articles.present? %>
    <% @articles.each do |r| %>
    <div class="balloon">
      <%= r.approve.count %> 承認
    </div>
    <div class="pure-menu pure-menu-scrollable custom-restricted">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <%= link_to article_path(r.id), class: 'pure-menu-link' do %>
            <%= r.title %>
          <% end %>
        </li>
        <%= r.text %>
      </ul>
      <p style="text-align: right; padding-right: 3px">
        <% unless r.user.email.empty? %>
          投稿者:
          <%= r.user.email %>
        <% end %>
      </p>
    </div>
    <% end %>
  <% end %>
</div>